<div class = "itemsContainer">
    
    <h1><%= @consoleName %></h1>
    
    
    <% if @items.length ==0 %>
    <h2>no items</h2>
    <% end %>
    
    
    <% @items.each do |item| %>
    
    <div class = "item">
        
        <h1><%=  item.title %></h1>

        <%= image_tag item.image_url, :class=>"itemImage" %>
        <p>
         Console: <%= item.console %>
          <br>
         Brand: <%= item.brand %>
          <br>
         Genre: <%= item.genre %>
        </p>
        
        <p>€ <%= item.price %></p>

        <p>
          <% if user_signed_in? %>
         <%  if current_user.admin? %>
          <a href = "/cart/<%= item.id %>" class = "button">Add to cart</a>
          <%= link_to 'Details', item, :class => "button", :role => "button" %>
          <%= link_to 'Edit', edit_item_path(item), :class => "button", :role => "button" %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %>
        <% else %>
          <a href = "/cart/<%= item.id %>" class = "button">Add to cart</a>
          <%= link_to 'Details', item, :class => "button", :role => "button" %>
        <% end %>
        <% else %>
          <a href = "/cart/<%= item.id %>" class = "button">Add to cart</a>
          <%= link_to 'Details', item, :class => "button", :role => "button" %>
        <% end %>
    
        
    </div>
    <% end %>
</div>