<p id="notice"><%= notice %></p>

<div id = "itemsContainer">
  
  <h1>Order Details</h1>
  
  <table id = "customers">
    
    <tr>
      
      <td><h4>Order date</h4></td>
      <td><h4>Order by</h4></td>
      <td><h4>Order status</h4></td>
    </tr>
    
    
    <tr>
      
      <td> <%= @order.order_date %></td>
      <td><%= @order.user %></td>
      <td> <%= @order.status %></td>
    </tr>
       
    <tr>
      
      <% if user_signed_in? %>

            <%  if current_user.admin? %>

      <td><%= link_to 'Edit Order', edit_order_path(@order), :class =>"button" %></td>
      <td><%= link_to 'Back to  Orders', orders_path, :class =>"button" %></td>
        <% else %>
      <td><%= link_to 'Back to  Orders', orders_path, :class =>"button" %></td>
      <% end %>
      <% end %>
    </tr>
  </table>
  
  
  <h2>Order Details</h2>
  
   
  <table id = "customers">
    
    <% @orderitems.each do |orderitem| %>
    
    <tr>
      
      <td><%= orderitem.title %></td>
         <td>Quantity ordered: <%= orderitem.quantity %></td>
    </tr>
    <% end %>
    
  </table>
  
  
</div>