<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title%>
    <%= form.text_field :title, id: :item_title %>
  </div>

  <div class="field">
    <%= form.label :console %>
    
     <select>
    <% @consoles.each do |console| %>
      <option value="<%= :item_console %>"><%= console.title %></option>
     
     <% end %>
     </select>
    
  </div>

  <div class="field">
    <%= form.label :publisher %>
    <%= form.text_field :brand, id: :item_brand %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <select>
    <% @genres.each do |genre| %>
      <option value="<%= :item_genre %>"><%= genre.title %></option>
     
     <% end %>
     </select>
    
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :item_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :item_price %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :item_image_url %>
  </div>

  <div class="actions field">
    <%= form.submit :class => 'button', :role => 'button' %>
  </div>
  
<% end %>
