<p id="notice"><%= notice %></p>
<div id="itemsContainer">

<h1>You search our product catalog for: <%= @search_term %></h1>

<% if @items.length == 0  %>
  <br />
  <h1>No products were found to match your search</h1>
<% end %>


    <% @items.each do |item| %>
      <div class="item">
        <h1><%= item.title %></h1>
        
        <%= link_to (image_tag item.image_url, :class => "itemImage"), item %>
        
        <p>
         Console: <%= item.console %>
          <br>
         Brand: <%= item.brand %>
          <br>
         Genre: <%= item.genre %>
        </p>
        
        <p><%= item.description %></p>
        
        <p><%= item.price %></p>

        <p>
          <a href = "/cart/<%= item.id %>" class = "button">Add to cart</a>
        <%= link_to 'Show', item, :class => "button", :role => "button" %>
        
        <% if user_signed_in? %>
        <%= link_to 'Edit', edit_item_path(item), :class => "button", :role => "button" %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button", :role => "button" %></td>
        <% end %>
        
        
        
        </p>
      </div>
    <% end %>


<br>



</div>
