    <footer class="foot">
      
      <div class="footer-buttons">
        
        <% if user_signed_in? %>
        
          
            <%  if current_user.admin? %>
              
              
              <%= link_to 'New Item', new_item_path,:class =>"button", :role=>"button"  %>
             <%= link_to 'New Genre', new_genre_path,:class =>"button", :role=>"button"  %>
              <%= link_to 'New Console', new_console_path,:class =>"button", :role=>"button"  %>
              
              <%= link_to 'View orders', orders_path, :class => 'button', :role => 'button' %>
              
             <% else %>
             
             <li>other</li>
              
            <% end %>  
        
        <% end %>
    </div>
    <hr>
    <div class="team">SSWT Project - made by Isabelle Bidou, Robert Gaughan and Antonijo Galic</div>
    <hr>
    <div class="credit"><%= render 'layouts/iconscredit' %></div>
    </footer>